/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --first-color:hsl(0, 97%, 66%);
  --first-color-shape: hsl(0, 33%, 32%);
  --title-color: hsl(0, 100%, 94%);
  --text-color: hsl(180, 4%, 72%);
  --body-color: hsl(0, 12%, 8%);
  --container-color: hsl(0, 0%, 0%);
  --title-color-dark: hsl(0, 0%, 100%);
  --text-color-dark:hsl(0, 21%, 56%);
  --container-color-dark: hsl(0, 80%, 14%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height {
  height: 100vh;
}

/*=============== HEADER Y NAV ===============*/
.nav {
  background-color: var(--container-color-dark);
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.nav__shape {
  width: 300px;
  height: 300px;
  background-color: var(--first-color-shape);
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: -2rem;
  filter: blur(90px);
}

.nav__close {
  position: relative;
  display: inline-flex;
  font-size: 1.8rem;
  color: var(--text-color-dark);
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.nav__img {
  width: 70px;
}

.nav__mask {
  width: 80px;
  height: 80px;
  background: linear-gradient(224deg, #e92f2f -2%, #feaaaa 97%);
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.nav__data {
  position: relative;
  margin-bottom: 3rem;
}

.nav__greeting {
  display: block;
  color: var(--text-color-dark);
  font-size: var(--small-font-size);
  font-weight: 500;
  margin-bottom: .25rem;
}

.nav__name {
  color: var(--title-color-dark);
  font-size: var(--big-font-size);
  line-height: 130%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color-dark);
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  transition: .3s;
}

.nav__link i {
  font-size: 1.15rem;
}

.nav__link:hover {
  color: var(--title-color-dark);
}

.main {
  position: relative;
  background-color: var(--body-color);
  transition: .4s;
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header__nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo, .header__toggle {
  color: var(--title-color);
}

.header__logo {
  font-weight: 500;
  display: flex;
  align-items: center;
column-gap: .5rem;
}

.header__logo img{
  width: 4rem;
}



.header__toggle {
  font-size: 1.15rem;
  cursor: pointer;
}

.header__toggle:hover{
    color: var(--first-color);
  }

/* Show menu */
.show-menu {
  transform: translate(70%);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Active link */
.active-link {
  color: var(--title-color-dark);
}

/*=============== SEARCH ===============*/
.containner{
margin-left:50px;
height: 100vh;
margin-inline:1.5rem ;
display: grid;
place-items: center;
position: relative;
}

.search{
  position: relative;
  width: 43px;
  height: 43px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  padding: 5px;
  overflow: hidden;
  transition: width .5s cubic-bezier(.9, 0, .3, .9);
  -webkit-transition: width .5s cubic-bezier(.9, 0, .3, .9);
  -moz-transition: width .5s cubic-bezier(.9, 0, .3, .9);
  -ms-transition: width .5s cubic-bezier(.9, 0, .3, .9);
  -o-transition: width .5s cubic-bezier(.9, 0, .3, .9);
}

.search__input{
  border: none;
  outline: none;
  width: calc(100% - 35px);
  height: 100%;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  padding-left: 14px;
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-color);
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

.search__button{
  width: 33px;
  height: 33px;
  background-color: var(--first-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .7s cubic-bezier(.9, 0, .3, .9);
  -webkit-transition: transform .7s cubic-bezier(.9, 0, .3, .9);
  -moz-transition: transform .7s cubic-bezier(.9, 0, .3, .9);
  -ms-transition: transform .7s cubic-bezier(.9, 0, .3, .9);
  -o-transition: transform .7s cubic-bezier(.9, 0, .3, .9);
}

.search__icon,
.search__close{
  color: #fff;
  font-size: 1rem ;
  position: absolute;
  transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
  -webkit-transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
  -moz-transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
  -ms-transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
  -o-transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
}

.search__close{
  opacity: 0;
}

/* search animated  */
.show-search{
  width: 100%;
}

.show-search .search__input{
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__button{
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.show-search .search__icon{
  opacity: 0;
}

.show-search .search__close{
  opacity: 1;
}

.notification{
  font-size: 1.2rem;
  color: var(--title-color-dark);
}

.notification:hover{
  color: var(--first-color);
}

.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .header__logo p{
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .show-menu {
    transform: translate(40%);
    -webkit-transform: translate(40%);
    -moz-transform: translate(40%);
    -ms-transform: translate(40%);
    -o-transform: translate(40%);
  }


} 


/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .header__nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__shape {
    width: 350px;
    height: 350px;
  }
  .nav__mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .nav__img {
    width: 90px;
  }
  .nav__link {
    font-size: var(--normal-font-size);
  }
  .nav__link i {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1440px) {
  .nav__menu{
    margin: 30px;
  }
  .show-menu {
    transform: translate(25%);
    -webkit-transform: translate(25%);
    -moz-transform: translate(25%);
    -ms-transform: translate(25%);
    -o-transform: translate(25%);
}
}
